Repository googlefonts/axisregistry, pull requests merged in 2022-09, with the labels that each got.

#79 HyperExpansion axis added
  Lib/axisregistry/data/hyper_expansion.textproto
Labels: --new-axis

#82 italic.textproto reduce precision from -1 to 0
  Lib/axisregistry/data/italic.textproto
Labels: --revised-axis

#78 Update element_grid.textproto EGRD -> ELGR
  Lib/axisregistry/data/element_grid.textproto
Labels: --revised-axis, ---Valid for sandbox

#56 Add ELSH custom axis
  Lib/axisregistry/data/element_shape.textproto
Labels: --new-axis, ---Valid for sandbox

#53 Add YEAR custom axis
  Lib/axisregistry/data/year.textproto
Labels: --new-axis, ---Valid for sandbox

#84 FLAIR: Adjusting fallbacks to leave only the Default
  Lib/axisregistry/data/flair.textproto
Labels: --revised-axis, ---Valid for sandbox
