Repository googlefonts/axisregistry, pull requests merged in 2022-12, with the labels that each got.

#62 Add Spacing [SPAC] axis
  Lib/axisregistry/data/spacing.textproto
Labels: --new-axis, ---requires fallbacks revision

#90 Add Informality [INFM] axis
  Lib/axisregistry/data/informality.textproto
Labels: ---Needs approval, --new-axis

#63 Add Bounce [BNCE] axis
  Lib/axisregistry/data/bounce.textproto
Labels: --new-axis, ---requires fallbacks revision

#100 Add Mutation [MUTA] axis
  Lib/axisregistry/data/mutation.textproto
Labels: --new-axis
